.container_image {
    position: relative;
    text-align: center;
    color: black;
    margin: 0;
    max-width: 100%;
    padding-bottom: 30px;
}

.centered {
    position: absolute;
    top: 95%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.image_two {
    position: relative;
    text-align: center;
    color: black;
}

.container_imagetwo, .container-sm {
    text-align: center;
    max-width: 540px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    /* border: 2px solid blue; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}
  